@import url(themes.css);

main {
	display: flex;
	flex-direction: column;

	height: fit-content;
}

.page-not-found-container {
	margin: auto;
    padding: 240px 40px;

    & h1 {
        font-size: 6rem;
    }
    & p {
        font-size: 3rem;
    }
    & a {
        color: var(--text-primary);
    }
}

/* Making 404 screen not god awful on mobile.
i.e., reducing font size and padding. */
@media (width < 1100px) {
    .page-not-found-container {
        padding: 40px;

        & h1 {
            font-size: 3rem;
        }
        & p {
            font-size: 1.5rem;
        }
    }
}